* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #CDC7B8;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #9C96B2;
    width: 100vw;
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    text-align: center;
}

.content-container {
    display: flex;
    flex: 1;
}

.holy-main {
    flex: 1;
    text-align: center;
}

.holy-nav, .holy-aside {
    flex: 0 0 12em;
    outline: 1px black dotted;
    text-align: center;
}

.holy-nav {
    order: -1;
    background-color: #E1D490;
}

.holy-aside {
    background-color: #F97F8C;
}

footer {
    background-color: #9C96B2;
    width: 100vw;
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    text-align: center;
}



/* ANCHOR - Media Queries */

@media screen and (max-width: 600px) {

    .content-container {
        flex-direction: column;
    }

    .holy-main {
        order: -1;
    }

    .holy-nav, .holy-aside {
        flex: 0 0 2.3rem;
    }
}